.contenedor-biografia{
    width: 1170px;
    height: 370px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0   3px 13px 1px rgb(0, 0, 0 /9%);
};

/*tamanodeimg*/

.imagen-biografia{
    height: 100%;
    width: auto;
    
}